@charset "UTF-8";

/*
  PALETA DE CORES
  VERDE: #49a09d
  LILÃS: #5f2c82
*/

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html{
  background-color:#5f2c82;
  height: 100vh;
  width: 10vw;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login{ 
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

  transform: translate(-50%, -50%);
  transition: width .3x, height .3s;
  transition-timing-function: ease;
}

section#login > div#imagem{
  display: block;
  background:  #5f2c82 url(../imagens/pexels-bertellifotografia-1144687\ \(1\).jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section#login > div#formulario{
  display: block;
  padding: 10px;
}
div#formulario{
  text-align: center ;
  margin-bottom: 10px;
}

form div.campo{
  background-color: #5f2c82;
  border: 2px solid  #5f2c82;
  display: block;
  width: 100%;
  height: 40px ;
  border-radius: 8px;
  margin: 5px 0px;
}
div.campo > input{
  background-color: #94cfcd;
  width: calc(100% - 44.5px);
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translatey(-14.5px);
}
div.campo > input:focus-within{
  background-color: white;
  border: none;
}

div.campo > label{
  display: none;
}
div.campo > i{
  color: white;
  /*background-color: black; */
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div#formulario > p{
  font-size: 1em;
}


form > input[type=submit]{
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #49a09d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover{
  background-color: #2d6462;
}

form > a.botao{
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  color: #2d6462;
  border: 1px solid #49a09d;
  border-radius: 7px;
  text-decoration: none;
}
form > a.botao:hover{
  background-color: #6cd3cf;
}

form > a.botao > i {
  font-size: 0.8em;
}